---
- name: Create docker working directory
  file:
    path: "{{ minidlna_docker_working_directory }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create dockerfile
  template:
    src: Dockerfile.j2
    dest: "{{ minidlna_dockerfile_path }}"
    owner: root
    group: root
    mode: 0644
  notify:
    - Restart minidlna service

- name: Create docker entrypoint
  copy:
    src: files/entrypoint.sh
    dest: "{{ minidlna_docker_working_directory }}/entrypoint.sh"
    owner: root
    group: root
    mode: 0755
  notify:
    - Restart minidlna service

- name: Create systemd unit file
  template:
    src: minidlna.systemd.j2
    dest: "/etc/systemd/system/{{ minidlna_service_name }}.service"
    owner: root
    group: root
    mode: 0644
  notify:
    - Restart minidlna service

- name: Create minidlna config directory
  file:
    path: "{{ minidlna_config_volume_directory }}"
    state: directory
    owner: root
    group: root
    mode: 0755

- name: Create minidlna config file
  template:
    src: minidlna.conf.j2
    dest: "{{ minidlna_config_volume_directory }}/minidlna.conf"
    owner: root
    group: root
    mode: 0644
  notify:
    - Restart minidlna service
